<!DOCTYPE HTML>
<html ng-app="myApp">
  <head>
    <!--
	<script src="/rsc/angular-1.0.2/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="/rsc/angular-ui/build/angular-ui.min.js"></script>
	-->



    <link type="text/css" rel="stylesheet" href="/rsc/bootstrap/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/rsc/angular-ui/build/angular-ui.min.css" />

    <script src="/rsc/jquery-1.8.2.js"></script>

    <script type='text/javascript' src="http://code.angularjs.org/1.0.1/angular-1.0.1.js"></script>
    <script type='text/javascript' src="http://angular-ui.github.com/angular-ui/build/angular-ui.js"></script>    

    <script src="/rsc/bootstrap/js/bootstrap.min.js"></script>
    <script src="/rsc/script.js"></script>

    <style>
      body {
      padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head> 
  <body>

 <body>
<!--
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Event Dataset Generator</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
-->
<div class="container" ng-controller="EventForm">

    <div class="row">
      <div class="span12">	
	<h1>Event DataSet Generator</h1>

	<p>Use this web page to create new datasets prepared to be
	loaded by EventFlow.</p>
	<p> To download a dataset, introduce the parameters and click
	on Download, then save (File/Save As...) the result as a new text file.</p>

      </div>	
    </div>
  
  
{% raw %}
  
  <form class="form-horizontal" ng-submit="download()" name="myForm">



    <ul class="nav nav-tabs">
      <li class="active" ><a href="#params" data-toggle="tab">Event Parameters</a></li>
      <li><a href="#temporal" data-toggle="tab">Temporal Parameters</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane active" id="params">

	<!------------------------------------------------------------------------------------------>
	<div class="row">
	  <!---------------------------------------------------->
	  <div class="span6">
	    <div class="control-group" ng-repeat="param in params">
	      <label class="control-label" for="{{param}}">{{allParams[param].label}}</label>
	      <div class="controls">
		<input type="{{allParams[param].type}}"  min="{{allParams[param].min}}" step="{{allParams[param].step}}" id="{{param}}" name="{{param}}" 
		       ng-model="allParams[param].value" placeholder="{{allParams[param].placeholder}}" ng-required="allParams[param].required">
	      </div>
	    </div>
	    <div class="control-group">
	      <label class="control-label" for="useNodes">Count nodes</label>
	      <div class="controls">
		<input type="checkbox" name="useNodes" ng-model="useNodesCount" ng-change="changeUseNodesCount()"><br/>
	      </div>
	    </div>
	  </div>
	  <!---------------------------------------------------->
	  <div class="span6">	
	    <div class="control-group">
	      <label>Event Types: [ <a href="" ng-click="addEvent()">add</a> ]</label>  
	      <div ng-repeat="event in events">
		<select class="input-small" ng-model="event.class" required>
		  <option>Point</option>
		  <option>Interval</option>
		</select>
		<input ui-jq="tooltip" title="Name of the Event Type" type="text" ng-model="event.type" required/>
		<input ui-jq="tooltip" title="Proportion of ocurrences" class="input-mini" type="number" min="0" max="100" ng-model="event.prop" require/>
		<a title="remove" ng-click="removeEvent(event)"> <i class="icon-remove-circle"></i></a>
	      </div>
	    </div>
	  </div>
	  <!---------------------------------------------------->
	</div> 
	<!------------------------------------------------------------------------------------------>
      </div>


      <div class="tab-pane" id="temporal">
	<!------------------------------------------------------------------------------------------>
	<div class="row">
	  <div class="span6">	
	    <div class="control-group" ng-repeat="param in tempParams">
	      <label class="control-label" for="{{param}}">{{allParams[param].label}}</label>
	      <div class="controls">
		<input type="{{allParams[param].type}}"  min="{{allParams[param].min}}" step="{{allParams[param].step}}" id="{{param}}" name="{{param}}" 
		       ng-model="allParams[param].value" placeholder="{{allParams[param].placeholder}}" ng-required="allParams[param].required">
	      </div>
	    </div>
	  </div>	
	  <!---------------------------------------------------->
	  <div class="span6 muted">		  
	    <p>The generated events are uniformly distributed along the specified number of years</p>
	    <p>Dates can be jittered by increasing the
	    "{{allParams['stddev'].label}}" factor. If it is different
	    to zero the generator will choose the dates in a random
	    way, so every date comes from a Gaussian distribution which has a standard deviation equal to this parameter </p>
	    <p></p>
	  </div>	
	</div>
	<!------------------------------------------------------------------------------------------>
      </div>
    </div>


    <div class="row">
      <div class="span12">	
	 <div class="form-actions">
	   <input type="submit" class="btn btn-primary" name="download" value="Download" />
	   <input type="button" ng-click="preview()" class="btn" name="preview" value="Preview" />
	 </div>
      </div>	
    </div>

    
  </form>

  <div class="row" ng-show="result" >
      <button class="close" ng-click="result=null;">&times;</button>
  </div>      
  <div class="row" ng-show="result" >
      <pre style="overflow-y:scroll; height: 300px;" ng-model="result">{{result}}</pre>
  </div>
{% endraw %}

  
</div> <!-- /container -->

<!-- http://reactiveraven.github.com/jqBootstrapValidation/ -->
<!--    <script src="/rsc/bootstrap/js/jqBootstrapValidation.js"></script> 

    <script>
      $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
    </script>
-->  
</body>
</html>
